<!-- ==============================
     1) Card 
    ============================== -->
    <div class="row">
    <div 
    *ngFor="let carDetail of carDetails"  
     class="card" 
     style="width: 18rem">
      
     
    
<!-- [src]: sorgu -->
          <img
            [src]= "carDetail.images.length !== 0 
            ? 'https://localhost:44315/'+carDetail.images[0] 
            : 'https://localhost:44315/Images/default.png'"
            class="card-img-top"
            alt=""
          />
       
     
      
    <div class="card-body">
        <h5 class="card-title text-center">
          {{ carDetail.brandName }} 
        </h5>
        <p class="card-text text-center">{{ carDetail.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        
    
        <li class="list-group-item text-center">{{ carDetail.colorName }}</li>
        <li class="list-group-item text-center">{{ carDetail.modelYear }}</li>
        <li class="list-group-item text-center">{{ carDetail.dailyPrice }} $</li>
        <li class="list-group-item text-center">{{ carDetail.isRented ? "Booking" : "Reserved" }} </li>
      </ul>
      <div class="card-body d-grid gap-2 col-6 mx-auto">
        <button
          type="button"
          
          routerLink="/cars/detail/{{ carDetail.id }}"
        
          class="btn btn-primary">Details
        </button>
      </div>
    </div>
    </div>

<!-- ===================================================================================== -->  
<!-- 1) Card
      <div class="row">
      <div 
    *ngFor="let carDetail of carDetails" 
    class="card" 
    style="width: 18rem">
        
     <img
          *ngFor="let image of carDetails"
          *ngIf="car.images[0] != null"
          src="https://localhost:44315/{{ carDetail.images[0] }}"
          class="card-img-top"
          alt=""
        />
        <img
          *ngIf="car.images[0] == null"
          src="https://localhost:44315/Images/default.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h6 class="card-title">{
    { carDetail.brandName }}
     </h6>
          <p class="card-text">{{ carDetail.carName }}</b>
          <p class="card-text">{{ carDetail.modelYear }}</p>
          <p class="card-text">{{ carDetail.dailyPrice }}</p>
          <p class="card-text">{{ carDetail.description }}</p>
    <p class="card-text">{{ carDetail.isRented? "Available" : "Not Available" }}</p>
          <a 
    routerLink="/detail/{{ carDetail.id }}" 
    class="btn btn-primary">Details 
    </a>
        </div>
      </div>
    </div>
-->
<!-- 2) Card-master
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
-->
<!-- ===================================================================================== -->   